.container {
  display: flex;
  margin-top: 5em;
  justify-content: center;
  color: white;

  @media screen and (max-width: 768px) {
    margin-top: 1em;
  }
}

.heading {
  margin: 0 auto 1em;
  text-align: center;
  font-family: "lemon", Helvetica, sans-serif;
  font-size: 1.75em;
}

.form {
  margin: 0.5em;
  background: #FF8EBA;
  padding: 2em;
  border-radius: 15px;
  border: 0.5em solid white;
}

.labelContainer {
  display: block;
  margin-bottom: 1em;
}

.label {
  font-family: "lemon", Helvetica, sans-serif;
  display: block;
}

.input {
  display: block;
  width: 100%;
  padding: 0.4em;
  border: 0;
  font-family: "lemon", Helvetica, sans-serif;
  border-radius: 7px;
  color: darken(#ED4F91, 15%);
}

.button {
  border-radius: 7px;
  color: white;
  padding: 1em;
  background: #ED4F91;
  font-family: "lemon", Helvetica, sans-serif;
  width: 100%;
  text-align: center;
  border: 0;
  cursor: pointer;

  &:hover {
    background: darken(#ED4F91, 15%);
  }
}
