.heading {
  padding-top: 0.5em;
  border: none;
  font: normal 5em/normal "lemon", Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  text-align: center;
  text-overflow: clip;
  text-shadow: 5px 5px 0 #F6B9E2 , 10px 10px 0 #ED4F91 , 15px 14px 0 #622E86 , 20px 20px 0 #FDF597;

  @media screen and (max-width: 768px) {
    font-size: 2.5em;
    text-shadow: 2px 2px 0 #F6B9E2 , 5px 5px 0 #ED4F91 , 8px 7px 0 #622E86 , 10px 10px 0 #FDF597;
  }
}
