.entity {
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
  margin: auto;
}

.pony {
  background-image: url('./pony.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

.domokun {
  background-image: url('./domokun.png');
  background-size: 100px;
  background-repeat: no-repeat;
}

.endpoint {
  background: limegreen;
}

// $pony-up: 0 1px;
// $pony-down: 0 -124px;
// $pony-left: 0 -38px;
// $pony-right: 0 -77px;

$pony-up: 0 101%;
$pony-down: 0 0%;
$pony-left: 0 34%;
$pony-right: 0 67%;

// $domokun-up: 8px 6px;
// $domokun-down: -21px 6px;
// $domokun-left: -49px 6px;
// $domokun-right: -80px 6px;

$domokun-up: 30% 50%;
$domokun-down: -11% 50%;
$domokun-left: 70% 50%;
$domokun-right: 113% 50%;


.ponyUp {
  background-position: $pony-up;
}

.ponyDown {
  background-position: $pony-down;
}

.ponyLeft {
  background-position: $pony-left;
}

.ponyRight {
  background-position: $pony-right;
}

.domokunUp {
  background-position: $domokun-up;
}

.domokunDown {
  background-position: $domokun-down;
}

.domokunLeft {
  background-position: $domokun-left;
}

.domokunRight {
  background-position: $domokun-right;
}
