$dimension: 30px;
$border: 2px solid #F50057;

.tile {
  width: $dimension;
  height: $dimension;
  display: inline-block;
}

.tileBorderTop {
  border-top: $border;
}

.tileBorderRight {
  border-right: $border;
}

.tileBorderBottom {
  border-bottom: $border;
}

.tileBorderLeft {
  border-left: $border;
}
