.button {
  margin-top: 1em;
  text-decoration: none;
  border-radius: 7px;
  color: white;
  padding: 1em;
  background: #ED4F91;
  font-family: "lemon", Helvetica, sans-serif;
  text-align: center;
  border: 0;
  cursor: pointer;

  &:hover {
    background: darken(#ED4F91, 15%);
  }
}
