.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2em;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  width: 3em;
  height: 3em;
  background: none;
  border: 2px solid darken(#ED4F91, 15%);
  border-radius: 5px;
  margin: 0.25em;
  transition: 50ms ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  color: darken(#ED4F91, 15%);
  font-weight: bold;

  &:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
  }

  &:hover {
    background: rgba(darken(#ED4F91, 10%), 0.5);
  }

  &Active,
  &:active {
    background: rgba(darken(#ED4F91, 10%), 0.75);
    transform: scale(0.9);
  }

  &:focus {
    outline: none;
  }
}

$arrow-size-top: 10px;
$arrow-size-bottom: 15px;

.up:before {
  border-width: 0 $arrow-size-top $arrow-size-bottom $arrow-size-top;
  border-color: transparent transparent darken(#ED4F91, 15%) transparent;
  transform: translateY(-15%);
}

.right:before {
  border-width: $arrow-size-top 0 $arrow-size-top $arrow-size-bottom;
  border-color: transparent transparent transparent darken(#ED4F91, 15%);
  transform: translateX(15%);
}

.down:before {
  border-width: $arrow-size-bottom $arrow-size-top 0 $arrow-size-top;
  border-color: darken(#ED4F91, 15%) transparent transparent transparent;
  transform: translateY(15%);
}

.left:before {
  border-width: $arrow-size-top $arrow-size-bottom $arrow-size-top 0;
  border-color: transparent darken(#ED4F91, 15%) transparent transparent;
  transform: translateX(-15%);
}

.space {
  width: 15em;

  &:before {
    display: none;
  }
}

