<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pony Maze</title>
  <link rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png'/>
  <link rel='icon' type='image/png' href='/favicon-32x32.png' sizes='32x32' />
  <link rel='icon' type='image/png' href='/favicon-16x16.png' sizes='16x16' />
  <link rel='manifest' href='/manifest.json' />
  <link rel='mask-icon' href='/safari-pinned-tab.svg' color='#5bbad5'/>
  <link href="https://fonts.googleapis.com/css?family=Lemon|Montserrat" rel="stylesheet">
  <meta name='theme-color' content='#ffffff' />
</head>
<body>
  <div id="app"></div>
  <noscript>
    <div class="noscript__alert">
      Oops, it seems you don't have JavaScript enabled. To view this website please enable JavaScript.
    </div>
  </noscript>
</body>
</html>
